name: Python tests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  Test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.12]
        include:
          - os: ubuntu-latest
            python-version: "3.11"
          - os: ubuntu-latest
            python-version: "3.10"
          - os: ubuntu-latest
            python-version: 3.9

    runs-on: "${{ matrix.os }}"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: dtolnay/rust-toolchain@master
        with:
        toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - run: python3 -m pip install nox

      - name: Run nox for ${{ matrix.python-version }}
        working-directory: ./python
        run: nox -s test-${{ matrix.python-version }}
